.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 36.25px;
    margin: 0 auto;
    max-width: 880px;
  }
  
  .profile__image {
    object-fit: cover;
    object-position: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  
  .profile__avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 45px;
  }
  
  .profile__avatar-edit {
    position: absolute;
    height: 120px;
    width: 120px;
    background-image: url("../images/edit-b.svg");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 50%;
    opacity: 0;
    transition: ease-in-out 0.3s;
  }
  
  .profile__avatar:hover {
    opacity: .5;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  

  .profile__info {
    margin-left: 19px;
    display: grid;
    grid-template-areas:
      "title button"
      "description description";
    grid-template-columns: minmax(auto, 400px) auto;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 9px;
    align-items: center;
  }
  
  .profile__title {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    grid-area: title;
    margin: 0;
    padding-right: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .profile__edit-button {
    background: transparent url(../images/edit-b.svg) center no-repeat;
    width: 24px;
    height: 24px;
    grid-area: button;
    align-self: center;
    border: 1px solid #ffffff;
    margin: 0;
    cursor: pointer;
  }
  
  .profile__edit-button:hover {
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
  }
  
  .profile__description {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    grid-area: description;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .profile__add-button {
    display: flex;
    background: transparent url(../images/add-b.svg) center no-repeat;
    width: 150px;
    height: 50px;
    margin: auto 0;
    margin-left: auto;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
    justify-content: flex-end;
  }
  
  .profile__add-button:hover {
    transition: all 0.3s ease-in-out;
    opacity: 0.6;
  }
  
  @media screen and (min-width:320px) and (max-width:880px){
    
  .profile {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding-top: 38px;
  }

  .profile__image {
    margin: 0;
  }

  .profile__info {
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 16px;
    margin: 0;
    text-align: right;
  }

  .profile__title {
    font-size: 22px;
    line-height: 27px;
    max-width: 196px;
    padding-top: 26px;
    padding-right: 0px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 36px;
    padding-left: 0;
    max-width: 282px;
  }

  .profile__edit-button {
    position: relative;
    top: 14px;
    height: 18px;
    width: 18px;
    background-size: 7.5px 7.5px;
  }

  .profile__add-button {
    width: 100%;
    max-width: 282px;
    margin-left: 0;
  }
}
  