@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/card.css");
@import url("../blocks/content.css");
@import url("../blocks/gallery.css");
@import url("../blocks/page.css");


*{
    margin: 0px;
    padding:0px;
}

.page{
    background-color: black;
    color: white;
}

.page__content {
    margin-left: 200px;
    margin-right: 200px;
    max-width: 880px;
}

.header {
    margin-top: 45px;
    max-width: 880px;
    margin-left: 200px;
    margin-right: 200px;
}

.header__logo {
    margin-bottom: 77px;
}


.profile{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 47px;
}

.profile__info {
    display: grid;
    grid-template-areas: 'title button'
                         'description description';
    align-items: center;
}

.profile__avatar {
    border-radius: 50%;
    max-height: 128px;
    max-width: 169px;
    padding-left: 20px;
    padding-right: 20px;
}

.profile__name {
  max-height: 50px;
  max-height: 373px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height:  48px;
  margin-right: 18px;
}

.profile__edit-button {
    height: 24px;
    width: 24px;
    border: 1px solid white;
    background: transparent url(../images/pencil.svg) center no-repeat;
    margin-right: 172px;
    cursor: pointer;
    transition: opacity .3s ease-in-out;

}

.profile__edit-button:hover{
    opacity: 50%;
}

.profile__description {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
}

.profile__add-button {
    height: 50px;
    width: 150px;
    background: transparent url(../images/plus.svg) center no-repeat;
    border: 1px solid white;
    align-self: center;
    cursor: pointer;
    transition: opacity .5s ease-in-out;
}

.profile__add-button:hover{
    opacity: 50%;
}

.cards{
   
    border-radius: 10px;
}

.card__list{
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(auto-fit, 282px);
   grid-gap: 17px 20px;
   list-style-type: none;
   padding: 0px;
   margin: 0px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__image{
    height: 282px;
    width: 282px;
    border-radius: 10px 10px 0px 0px;
}

.card__description{
    display: flex;
    background: white;
    color: black;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 10px 10px;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
   
}
.card__title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__like-button{
    background: transparent url(../images/heart.svg) center no-repeat;
    width: 21px;
    height: 18px;
    margin-right: 20px;
    border: 0px;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
}

.card__like-button:hover{
    opacity: 50%;
}


@media screen and (max-width: 480px){
   .header__logo{
    margin-left: -155px;
    margin-right: auto;
    margin-top: 28px;
   }
   
   
   .profile {
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;
       
    }

   .profile__avatar{
      margin-right: auto;
      margin-left: auto;
   }
   .profile__name{
      font-size: 22px;
      margin-left: auto;
      margin-right: auto;
   }

   .profile__info{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-left: auto;
       margin-right: auto;
       font-size: 14px;
       font-weight: 400;
       width: 100%;
    }
    
    .profile__description{
        margin-bottom: 36px;
        margin-left: auto;
        margin-right: auto;
    }

    .profile__edit-button{
      height: 7.5px;
      width: 7.5px;
    }
    .profile__add-button{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    
    .card__list{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}